*{
    background-color: antiquewhite;
    margin-bottom: 5px;
    padding: 3px;
}

table{
    border: 1px solid black;
}

td{
    border: 1px solid black;
}

.spanish{
    color: antiquewhite;
}

.correct{
    background-color: green;
}

#answer{
    margin: 10px 0px;
}